**/tmp
.allorad/
config
data
gentxs
keyring-test
val*
*.account_info
sentry*
.DS_store
head
coin-prediction*
index-provider
nft-appraisals
watch-prices
.whitelisted_account_unarmored_hex
save_keys_awssecretsmanager.sh
seed*
generate_sentry_seed.sh
